@import '@yesplz/core-web/assets/styles/variables.scss';

.ProductListHorizontal {
  .ProductGrid {
    max-width: 231px;
    margin-right: 20px;

    &-thumbnail {
      height: 341px;
    }
  }

  .slick-slider {
    max-width: 251px;
    .slick-list {
      overflow: visible;
    }
  }
}
