.SlideImage {
  &:not(.no-animation) {
    animation-duration: 2s;
    transition-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    -webkit-animation-name: baseImageAnimation;
    animation-name: baseImageAnimation;
  }  

  &.has-multiple-images {
    width: 587px;
    height: 536px;
    max-width: 100%;
    position: relative;
  
    img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

@keyframes baseImageAnimation {
  0% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
